/* Base Styles  / Mobile View */
body {
  background-color: #e4e7eb;
  font-size: 18px;
  display:block;
  font-family: 'Crimson Text', serif;
}
header {
  background-color: #294969;
  color: ghostwhite;
  padding: 10px 15px 20px 25px:
}


h1 {
  text-align: center;
}








/* media queries/ tablet veiw */

@media (min-width: 768px){

}


/*desktop view */

@media (min-width; 1024px) {

}
