/* Base Styles  / Mobile View */
/*box-sizing: border-box;*/


body {
  background-color: #fafafa;
  font-size: 25px;
  line-height: 1.5;
  font-family: 'Crimson Text', serif;
  padding: 1rem 0 1rem 0;
  margin: 0 auto;
  width: 95%;
  color: #4a4a69;

}
h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  padding: 20px 5px 20px 15px;
  display: block;
}
.main-nav {
  text-align: center;
  /*display: inline-block;*/
  /*width: 30;*/
  padding: 10px;
  /*margin-top: 10px;*/
  text-transform: uppercase;
  color: #4a4a69;
  font-weight: bold;
  list-style-type: none;
}
.bio {
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  border: 5px;
  margin: 5px;
  max-width: 100%;
}
/*
.photo {
  width: 100%;
  margin: 0 auto;
}
*/
img {
  max-width: 100%;
  margin: 0 auto;
}

nav li {
  padding: 12px 0px;
  margin: 6px;
  background: #ffff;
  text-align: center;
  border-radius: 70%;
}

/*===========main section==========*/
/*==========main section==========*/
  h2 {
    text-align: center;
    text-transform: capitalize;
  }
  h3 {
    text-align: center;
    padding: 0rem;

  }
  h4 {
    text-align: left;
  }


  main {
    background-color: #e4e7eb;
  }
  .contact li {
    list-style-type: none;

  }
nav {
    text-align: right;
    text-transform: uppercase;

  }
  hr {
    width: 80%;
  }
  footer {
    padding: 1rem;
    border-top: 1px;
    display: flex;
    justify-content: space-between;

  }
  .chat {
    color: red;
  }

/* media queries/ tablet veiw */

@media (min-width: 768px) {

  h1 {
    display: flex;
    justify-content: center;
  }
  h2 {
    text-transform: uppercase;
    padding-top: 40px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .photo {
    display: flex;
    flex-basis: 100%;
    flex-direction: row-reverse;
    margin-right: 5px;
}

.bio {
  display: flex;
  flex-basis: 100%;
  flex-grow: 60%;
  padding-right: 30px;

}


#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
#portfolio div {
  flex-basis: 48%;
  padding-right: 10px;
  
  }
.contact p {
  padding: 0 70px 0 70px;
}

.contact li {
  text-align: center;
}
}







  /*.wrapper {
    width: 70%;
    margin: 0 auto;*/


/*desktop view */
/*
@media (min-width: 1024px){

}
*/
